#menu-toggle{
  margin-left: 3px;
}

.navbar-nav {
  flex-flow: row nowrap;
  justify-content: start;
  width: 100%;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .5s ease-out;
    -moz-transition: margin .5s ease-out;
    -o-transition: margin .5s ease-out;
    transition: margin .5s ease-out;
    background: black;
    color: white;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 90%;
    a{
        background: black;
        color: white;
        &:hover{
            color:plum;
        }
    }
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 1000px) {

    #layoutSidenav_content {
      margin-left: 90px;
    }
    #sidebar-wrapper {
      margin-left: 10px;
    }
    
    #menu-toggle{
      margin-left: 45px;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }

}

#layoutSidenav_content {
  position: relative;
  display: flex;
  margin:auto;
  flex-direction: column;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh - #{$topnav-base-height});
    table {
        table-layout:fixed;
        td{
                word-wrap:break-word;
        }
    }
}


