.front-component{
  z-index: 1039;
}

.navbar-adjust{
  margin-left:55px;
}

.sidenav {
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  width: $sidenav-base-width;
  height: 100vh;
  z-index: 1038;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 0.9rem;
  background:black;
  .sidenav-menu {
      flex-grow: 1;
      .nav {
          margin-top:5rem;
          align-items: center;
          flex-direction: column;
          flex-wrap: nowrap;
          .a-color{
            color:white
          }
          .sidenav-menu-heading {
              padding: 1.75rem 1rem 0.75rem;
              font-size: 0.7rem;
              font-weight: bold;
              text-transform: uppercase;
              letter-spacing: 0.05em;
          }
          .nav-link {
              display: flex;
              align-items: center;
              line-height: normal;
              padding-top: 0.75rem;
              padding-bottom: 0.75rem;
              position: relative;
              .nav-link-icon {
                  font-size: 0.9rem;
                  padding-right: 0.5rem;
                  display: inline-flex;
                  .feather {
                      width: 1rem;
                      height: 1rem;
                  }
              }
              &.active {
                  font-weight: 600;
                  .nav-icon {
                      color: $primary;
                  }
              }
              .sidenav-collapse-arrow {
                  display: inline-block;
                  margin-left: auto;
                  transition: transform 0.15s ease;
              }
              &.collapsed {
                  .sidenav-collapse-arrow {
                      transform: rotate(-90deg);
                  }
              }
          }
          .sidenav-menu-nested {
              flex-direction: column;
              margin-left: 2rem - $sidenav-nested-border-offest;
              border-left-style: solid;
              border-left-width: thin;
              padding-left: $sidenav-nested-border-offest;
          }
      }
  }
  .sidenav-footer {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      padding-left: 0.75rem;
      padding-right: 0.75rem;;
      height: $footer-base-height;
      .sidenav-footer-content {
          font-size: 0.9rem;
          .sidenav-footer-subtitle {
              font-size: 0.75rem;
          }
          .sidenav-footer-title {
              font-weight: 500;
          }
      }
  }
}

#layoutSidenav_content {
  padding-left: $sidenav-base-width;
  position: relative;
  margin-left:100px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh - #{$topnav-base-height});
}